<ngx-editor-menu  [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>

<ngx-editor [editor]="editor" [(ngModel)]="html"> </ngx-editor>

<button type="button" (click)="guardar()" >Guardar</button><br>

<br>

<div [innerHTML]="html"></div>